{% extends "layout.html" %}

{% block body %}
        <div class="compilation_container">

            <div class="map">
                <h2 class="map_caption">Drone View</h2>
                <iframe width="90%" height="648" src="https://www.youtube.com/embed/pXgbG4I2_ZU">
                </iframe>
                <h2 class="map_caption">Street aView</h2>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!4v1691241353678!6m8!1m7!1sjzANPY78_iRq70SIHGFiNg!2m2!1d9.885694318974167!2d123.5981823997345!3f291.21672630289413!4f1.0210768363588159!5f0.7820865974627469"
                    width="90%" height="648" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <h2 class="map_caption">Google Maps</h2>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3834.3890738464643!2d123.59682230823216!3d9.886356765368998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33abc5ea58d9353d%3A0xea5e997821c98808!2sArgao%20National%20High%20School!5e1!3m2!1sen!2sph!4v1691241285686!5m2!1sen!2sph"
                    width="90%" height="648" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
        </div>

{% endblock%}