{% extends "layout.html" %}

{% block body %}
<!-- index.html -->
<!-- index.html -->

<body>
    <h2>Guess The element/compound:</h2>
    
    <div id="flashcard-container">

        <div class="flashcard">
            <button id="nextButton">Next</button>
            <button id="shuffleButton">Shuffle</button>
            <button id="toggleDescriptionButton">Show Description</button>
            <button id="toggleDataButton">Elements/Compounds</button>
            <button id="showAnswer">Reveal</button>
            <h2 id="flashcard-symbol"></h2>
            <div class="description" style="display: none">
                <!-- Description content goes here -->
            </div>
            <div class="content">
                <p>Guess the Element:</p>

                <input type="text" id="answer" placeholder="Enter your answer">
                <button id="checkButton">Enter</button>
            </div>
            <div class="back" style="display: none">
                <p></p>
            </div>
        </div>

        <button id="share">Share to leaderboards</button>
        <form id="leaderboardForm" action="/leaderboards" method="post">
            <input type="hidden" id="scoreInput" name="score" value="">
            <input type="hidden" id="timeSpentInput" name="total_time_spent" value="">
            <input type="hidden" id="nameInput" name="name" value="">

        </form>
    </div>
    <p>Score: <span id="score">0</span></p>

    <script src="{{ url_for('static', filename='js/flashcard.js') }}"></script>
</body>
{% endblock%}