{% extends "layout.html" %}

{% block body %}
<!-- index.html -->
<!-- index.html -->
<style>
    /* Style for the buttons */
    .past{
        color: gray;
    }
    button {
        font-size: 1rem;
        /* Increase the text size */
        padding: 5px 5px;
        /* Increase padding for larger size */
        border: 1px solid #000;


        color: #000000;
    }

    /* Style for the "Share to leaderboards" button */
    

    .leaderboard {
        display: inline-flex;
        
        justify-content: space-between;
    }

    /* Add more styles for other buttons if needed */
</style>

<body>

    <h2>Guess The element/compound:</h2>
    <button id="resetButton">Reset Flashcards</button>
    <divn id="flashcard-container">

        <div class="flashcard">

            <button id="nextButton">Next</button>
            <button id="shuffleButton">Shuffle</button>
            <button id="toggleDescriptionButton">Show Description</button>
            <button id="toggleDataButton">Elements/Ions/Polyatomic Ions/Acids</button>
            <button id="acidButton">Acids</button>
            <button id="showAnswer">Reveal</button>
            <button id="swapAnswer">Swap</button>
            <h2 id="flashcard-symbol" style="font-size: 3.4rem;"></h2>
            <div class="description" style="display: none">
                <!-- Description content goes here -->
            </div>
            <div class="content">
                <p>Guess the Element:</p>

                <input type="text" id="answer" placeholder="Enter your answer">

            </div>
            <div class="past">
                <p></p>
            </div>
            <div class="back" style="display: none">
                <p></p>
            </div>
            
        </div>


        <form id="leaderboardForm" action="/leaderboards" method="post">
            <input type="hidden" id="scoreInput" name="score" value="">
            <input type="hidden" id="timeSpentInput" name="total_time_spent" value="">
            <input type="hidden" id="nameInput" name="name" value="">

        </form>
        </div>
        <p>Score: <span id="score">0</span></p>
        <div class="leaderbord">
            <button id="share">Share to leaderboards</button>
            <button><a href="{{ url_for('Enrollees') }}"><p>BAJENTING Leaderboards</p></a></button>
        </div>

        <script src="{{ url_for('static', filename='js/flashcard.js') }}"></script>
</body>
{% endblock%}