{% extends "layout.html" %}

{% block body %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td{
        border: 1px solid #000;
        padding: 8px;
    }
    th{
        background-color:  #d2d0d0;
    }
    h1{
        display: flex;
        justify-content: center;
    }
</style>
<h1>Leaderboards</h1>





<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th><button id="sortNameButton">Name</button></th>
            <th><button id="sortScoreButton">Score</button></th>
            <th><button id="sortTimeButton">Time (s)</button></th>
            <th><button id="sortDateButton">Date</button></th>
        </tr>
    </thead>
    <tbody id ="userscores-table">
  
        
    </tbody>

</table>
<script src="{{ url_for('static', filename='js/enrollees.js') }}"></script>


{% endblock %}